<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260411152458-mqhrt62uskskjfdq524r91qu7jvna2at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260411152458-mqhrt62uskskjfdq524r91qu7jvna2at</string>
	<key>API_KEY</key>
	<string>AIzaSyCn9fkVnudjdkVd5xezs3ICWusYlSh2YhU</string>
	<key>GCM_SENDER_ID</key>
	<string>260411152458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hdmilf.exploresg</string>
	<key>PROJECT_ID</key>
	<string>exploresg-hdmilf</string>
	<key>STORAGE_BUCKET</key>
	<string>exploresg-hdmilf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260411152458:ios:1e6f6fb417ead2d61c6eb3</string>
</dict>
</plist>